# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage/

# TypeScript build cache
*.tsbuildinfo

# prisma
apps/api/prisma/migrations/.gitkeep

# IDE / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# docker volumes (local dev data)
infra/docker/volumes/
